Projects/App.Data/bin/Debug/netcoreapp3.1/App.Data.deps.json
Projects/App.Data/bin/Debug/netcoreapp3.1/App.Data.dll
Projects/App.Data/bin/Debug/netcoreapp3.1/App.Data.pdb
Projects/App.Data/obj/App.Data.csproj.nuget.cache
Projects/App.Data/obj/App.Data.csproj.nuget.dgspec.json
Projects/App.Data/obj/App.Data.csproj.nuget.g.props
Projects/App.Data/obj/App.Data.csproj.nuget.g.targets
Projects/App.Data/obj/project.assets.json
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.AssemblyInfo.cs
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.AssemblyInfoInputs.cache
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.assets.cache
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.csproj.FileListAbsolute.txt
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.csprojAssemblyReference.cache
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.dll
Projects/App.Data/obj/Debug/netcoreapp3.1/App.Data.pdb
Projects/CoreWebApp/.vs/CoreWebApp/DesignTimeBuild/.dtbcache
Projects/CoreWebApp/.vs/CoreWebApp/v16/.suo
Projects/CoreWebApp/.vs/CoreWebApp/v16/Server/sqlite3/db.lock
Projects/CoreWebApp/.vs/CoreWebApp/v16/Server/sqlite3/storage.ide
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/appsettings.Development.json
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/appsettings.json
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/CoreWebApp.deps.json
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/CoreWebApp.dll
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/CoreWebApp.exe
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/CoreWebApp.pdb
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/CoreWebApp.runtimeconfig.dev.json
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/CoreWebApp.runtimeconfig.json
Projects/CoreWebApp/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Projects/CoreWebApp/obj/CoreWebApp.csproj.nuget.cache
Projects/CoreWebApp/obj/CoreWebApp.csproj.nuget.dgspec.json
Projects/CoreWebApp/obj/CoreWebApp.csproj.nuget.g.props
Projects/CoreWebApp/obj/CoreWebApp.csproj.nuget.g.targets
Projects/CoreWebApp/obj/project.assets.json
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.AssemblyInfo.cs
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.AssemblyInfoInputs.cache
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.assets.cache
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.csproj.FileListAbsolute.txt
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.csprojAssemblyReference.cache
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.dll
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.exe
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.MvcApplicationPartsAssemblyInfo.cache
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.pdb
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/CoreWebApp.RazorTargetAssemblyInfo.cache
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/staticwebassets/CoreWebApp.StaticWebAssets.Manifest.cache
Projects/CoreWebApp/obj/Debug/netcoreapp3.1/staticwebassets/CoreWebApp.StaticWebAssets.xml
